                <form method="POST" action="">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="season">Season:</label>
                        <input class="form-control" type="text" name="season" id="season"
                        {% if menu.season %}value="{{ menu.season }}" {% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="items">Items:</label>
                        <select name="items" multiple class="form-control multi-select" id="items" size="6">
                            {% for item in form.items %}
                                {{ item|truncatechars_html:90 }}
                            {% endfor %}
                        </select>
                        <div class="text-muted">{{ form.items.help_text }}</div>
                    </div>
                    <div class="form-group">
                        <label for="expiration_date">Expiration Date:</label>
                        <input class="form-control" type="text" id="expiration_date" name="expiration_date"
                        {% if menu.expiration_date %} value="{{ menu.expiration_date|date:"Y-m-d" }}" {% endif %}>
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="{% url 'menu:menu_list' %}" class="btn btn-outline-secondary">Cancel</a>
                </form>