{% extends 'base.html' %}

{% block content %}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h1>Create New Menu</h1>
                <form method="POST" action="">{% csrf_token %}

                     <div class="form-group">
                         <label for="season">Season:</label>
                        <input class="form-control" type="text" name="season" value="{{ menu.season }}">
                     </div>
                         <div class="form-group">
                        <label for="items">Items:</label>
                        <select multiple class="form-control" id="items">
                            {% for item in form.items %}
                                <option value="{{ item }}"></option>
                            {% endfor %}
                        </select>
                    </div>
                         <div class="form-group">
                        <label for="expiration_date">Expiration Date:</label>
                        <input class="form-control" type="text" name="expiration_date" >
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}